flask==2.3.3
flask-sqlalchemy==3.0.5
SpeechRecognition==3.10.0
numpy==1.24.3
tensorflow==2.13.0
flask-cors==4.0.0
scipy==1.13.0
pydub==0.25.1
librosa==0.10.1
ffmpeg-python==0.2.0
python-dotenv==1.0.0
wikipedia==1.4.0
wolframalpha==5.0.0
pyttsx3==2.90
python-dateutil==2.8.2
requests==2.31.0
beautifulsoup4==4.12.2
feedparser==6.0.10
pyjokes==0.6.0
winshell==0.6
pyaudio==0.2.13
pyowm==3.3.0
sympy==1.12
secure-smtplib==0.1.1
plyer==2.1.0